.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.img-container img {
    height: 400px !important;
}
  
.grid-item {
    padding: 20px;
}

.double-column {
    grid-column: 1 / span 2; /* Make the item start at column 1 and span 2 columns */
}